# Node
node_modules/
dist/
.vite/
*.tsbuildinfo
vite.config.js
vite.config.d.ts

# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/
.mypy_cache/
*.db

# Env files
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
